@tailwind base;
@tailwind components;
@tailwind utilities;





 html::-webkit-scrollbar{
  display: none;
}

html{
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  word-wrap: break-word;
}

.displacement {
    filter: url(#displacementFilter);
}

svg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}



section {
    height: 100vh;
    position: relative;
}

.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.hello{
  @apply opacity-0 -translate-x-[40%]
}

li{
  @apply border-b border-white
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} 

.logos {
  overflow: hidden;
  padding: 40px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.logoimg {
 /*  height: 50px; */
 margin: 0 40px; 
  display: inline-block;
  height: 100%;
  width: 20%;
}